<div class="container" ng-controller = "productsController">
  <div class="row">
    <div class="col-md-3">
      <input type="search" placeholder="search...">
      <br><button>Filter</button><br>
      <h3>Add a new product</h3>      
      <form name="productForm">
        Name: <br><input type="text" name='name' placeholder="name..." ng-model="newproduct.name" ng-minlength="1" required>
        Image (url): <br><input type="url" name='url' placeholder="http://" ng-model="newproduct.url" ng-minlength="1">
        Description: <br>
        <textarea name="description" id="" cols="30" rows="10" ng-model="newproduct.description"></textarea>
        Initial Quanity: <br><input type="number" name='quantity' defaultValue="1" min="1" ng-model="newproduct.quantity" ng-min="1">
        <button class="btn-primary" ng-click="addproduct()" ng-disabled="productForm.name.$invalid">Create</button>
      </form>
    </div>
    <div class="col-md-9">
      <div class="row" ng-show="products.length > 0">
          <!-- {{products}} -->
        <div class="col-md-2" ng-repeat="product in products track by $index">          
          <img ng-src="{{product.imageurl}}">
          <p>{{product.name}}</p>
          <p>({{product.quantity}} left)</p>
        </div>
      </div>
      <div class="row" style="text-align:center"><a href="">show more...</a></div>
    </div>

  </div>

  <!-- <table ng-show="friends.length > 0">
    <thead>
      <th>#</th>
      <th>Name</th>
      <th>Show</th>
      <th>Update</th>
      <th>Delete</th>
    </thead>
    <tbody>
      <tr ng-repeat="friend in friends track by $index">
        <td>{{$index}}</td>
        <td>{{friend.firstname}} {{friend.lastname}}</td>
        <td><button ng-click="showfriend($index)">show</button></td>
        <td><button ng-click="editfriend($index)">edit</button></td>
        <td><button ng-click="deletefriend($index)">delete</button></td>
      </tr>
    </tbody>
  </table> -->
</div>